doctype html
html
  head

div(style={height: '100%!important', width: '100%!important', background: '#f5f5f5', margin: 0, padding: 0})
    div(style={width: '600px', margin: 'auto', background: '#fff', padding: '12px'})
        h3 Kedves Vásárlónk!
        p A rendelése sikeresen megérkezett hozzánk:
        table(style={'border-collapse': 'collapse', width: '100%'})
            tr(style={border: 'none', 'font-size': '12px', 'font-weight': 'bold'})
                td(style={'text-align': 'center'}) 
                    | Mennyiség
                td 
                    | Terméknév
                td(style={'text-align': 'right'}) 
                    | Kiszerelés
                td(style={'text-align': 'right'}) 
                    | Bruttó ár / összesen
            each val, key in order.items
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'text-align': 'center'}) 
                        = val.count
                    td
                        = val.name != null ? val.name.hu : 'NA'
                    td(style={'text-align': 'right'}) 
                        = val.sizeName != null ? val.sizeName.hu : 'NA'
                    td(style={'text-align': 'right'}) 
                        = val.discountPrice
                        |  Ft
            tr
                td(colspan=4 style={'text-align': 'right', 'font-weight': 'bold'}) 
                    = order.discountPrice
                    |  Ft
        p   Rendelésszám: 
            span(style={'font-weight': 'bold'})
                = order.orderNumber
        br
        if order.invoiceInfo
            table(style={'border-collapse': 'collapse', width: '100%'})
                tr(style={border: 'none', 'font-size': '14px', 'font-weight': 'bold'})
                    td(colspan=2) Számlázási adatok:   
                    
                tr(style={'border-top': '1px solid lightgrey'}) 
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Név: 
                    td
                        = order.invoiceInfo.name
                if order.invoiceInfo.tax
                    tr(style={'border-top': '1px solid lightgrey'})
                        td(style={'width': '100px'})
                            span(style={'font-size': '12px', 'font-weight': 'bold'}) Adószám: 
                        
                        td 
                            = order.invoiceInfo.tax
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Cím: 
                    td
                        = order.invoiceInfo.zip
                        |  
                        = order.invoiceInfo.city
                        | ,
                        = order.invoiceInfo.street
                        |  
                        = order.invoiceInfo.streetNumber
                        |.,   
                        = order.invoiceInfo.floor

        if location
            if location.openHours
                if location.openHours.location
                    br
                    | Általános nyitvatartásunk:
                    br
                    if location.openHours.location['1']
                        | H: 
                        if location.openHours.location['1'].openHoursArray[0]
                            = location.openHours.location['1'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['1'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['1'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['1'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva
                        | K: 
                        if location.openHours.location['2'].openHoursArray[0]
                            = location.openHours.location['2'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['2'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['2'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['2'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva
                        | SZ: 
                        if location.openHours.location['3'].openHoursArray[0]
                            = location.openHours.location['3'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['3'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['3'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['3'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva
                        | CS: 
                        if location.openHours.location['4'].openHoursArray[0]
                            = location.openHours.location['4'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['4'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['4'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['4'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva
                        | P: 
                        if location.openHours.location['5'].openHoursArray[0]
                            = location.openHours.location['5'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['5'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['5'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['5'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva
                        | SZ: 
                        if location.openHours.location['6'].openHoursArray[0]
                            = location.openHours.location['6'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['6'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['6'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['6'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva
                        | V: 
                        if location.openHours.location['7'].openHoursArray[0]
                            = location.openHours.location['7'].openHoursArray[0].startHour
                            | :
                            = location.openHours.location['7'].openHoursArray[0].startSegment
                            | -
                            = location.openHours.location['7'].openHoursArray[0].endHour
                            | :
                            = location.openHours.location['7'].openHoursArray[0].endSegment
                            br
                        else
                            | Zárva         
                

            br 
            | Köszönjük a vásárlást!
            br
            | Üdvözlettel!