doctype html
html
  head

div(style={height: '100%!important', width: '100%!important', background: '#f5f5f5', margin: 0, padding: 0})
    div(style={width: '600px', margin: 'auto', background: '#fff', padding: '12px'})
        h3 Kedves Vendégünk!
        p A következő foglalásaid sikeresen rögzítésre kerültek rendszerünkben:
        p Fizetési mód: 
            if booking.paymentAgent === 'local'
                | Helyben
            else
                | Online

        table(style={'border-collapse': 'collapse', width: '100%'})
            tr(style={border: 'none', 'font-size': '12px', 'font-weight': 'bold'})
                td(style={'text-align': 'center'}) 
                    | Mennyiség
                td 
                    | Terméknév
                td(style={'text-align': 'right'}) 
                    | Foglalási dátum
                td(style={'text-align': 'right'}) 
                    | Bruttó ár / db
                td(style={'text-align': 'right'}) 
                    | Bruttó ár / összesen
            each val, key in booking.entities
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'text-align': 'center'}) 
                        = val.seats
                        |  db
                    td
                        = val.name.hu
                    td(style={'text-align': 'right'}) 
                        = moment(booking.bookDate).format('YYYY-MM-DD HH:mm')
                    td(style={'text-align': 'right'}) 
                        = parseInt(val.seatPrice)
                        |  Ft
                    td(style={'text-align': 'right'}) 
                        = parseInt(val.seatPrice*val.seats)
                        |  Ft
            tr
                td(colspan=5 style={'text-align': 'right', 'font-weight': 'bold'}) 
                    = parseInt(booking.totalPrice)
                    |  Ft
       
        br
        table(style={'border-collapse': 'collapse', width: '100%'})
            tr(style={border: 'none', 'font-size': '14px', 'font-weight': 'bold'})
                td(colspan=2) Számlázási adatok:   
                
            tr(style={'border-top': '1px solid lightgrey'}) 
                td(style={'width': '100px'})
                    span(style={'font-size': '12px', 'font-weight': 'bold'}) Név: 
                td
                    = booking.invoiceInfo.name
            if booking.invoiceInfo.tax
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Adószám: 
                    td 
                        = booking.invoiceInfo.tax
            tr(style={'border-top': '1px solid lightgrey'})
                td(style={'width': '100px'})
                    span(style={'font-size': '12px', 'font-weight': 'bold'}) Cím: 
                td
                    = booking.invoiceInfo.zip
                    |  
                    = booking.invoiceInfo.city
                    | ,
                    = booking.invoiceInfo.street
                    |  
                    = booking.invoiceInfo.streetNumber
                    if booking.invoiceInfo.floor !== ''
                        |.,   
                        = booking.invoiceInfo.floor
        br
        p(style={'font-weight': 'bold'}) A foglalásod megtekintéséhez kattints az alábbi linkre:

        a(href='https://book.costesbeachclub.hu/bookingview/local?bid=' + booking.uuid) Tovább a foglalásomhoz

        br 
        br
        | Köszönjük a vásárlást!
        br
        | Üdvözlettel!

        div(style={width: '600px', margin: 'auto', background: '#fff', padding: '12px'})

        img(src='https://book.costesbeachclub.hu/assets/img/email.png' height='80px')