doctype html
html
  head

div(style={height: '100%!important', width: '100%!important', background: '#f5f5f5', margin: 0, padding: 0})
    div(style={width: '600px', margin: 'auto', background: '#fff', padding: '12px'})
        h3 Kedves Főnök!
        p Új rendelés került a rendszerbe!
        table(style={'border-collapse': 'collapse', width: '100%'})
            tr(style={border: 'none', 'font-size': '12px', 'font-weight': 'bold'})
                td(style={'text-align': 'center'}) 
                    | Mennyiség
                td 
                    | Terméknév
                td(style={'text-align': 'right'}) 
                    | Kiszerelés
                td(style={'text-align': 'right'}) 
                    | Bruttó Ár
            each val, key in order.items
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'text-align': 'center'}) 
                        = val.count
                    td
                        = val.name.hu
                    td(style={'text-align': 'right'}) 
                        = val.sizeName.hu
                    td(style={'text-align': 'right'}) 
                        = val.discountPrice
                        |  Ft
            tr
                td(colspan=4 style={'text-align': 'right', 'font-weight': 'bold'}) 
                    = order.discountPrice
                    |  Ft
        p   Rendelésszám: 
            span(style={'font-weight': 'bold'})
                = order.orderNumber
        if order.paymentType === 'Online'
            p   Fizetési mód: SimplePay
        else
            p   Fizetési mód: Utánvét
        if order.deliveryType === 'delivery'
            p   Kézbesítés: Házhozszállítás
        else
            p   Kézbesítés: Személyes átvétel
        if order.requestedReadyTime
            p   Kért időpont: 
                = order.requestedReadyTime
        else
            p   Kért időpont: Minél hamarabb
        if order.notes
            p   Megjegyzés:
                br
                span(style={'font-size': '13px'})
                    = order.notes
        p
        if order.deliveryInfo
            table(style={'border-collapse': 'collapse', width: '100%'})
                tr(style={border: 'none', 'font-size': '14px', 'font-weight': 'bold'})
                    td(colspan=2) Szállítási adatok:
                    
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Név: 
                    td
                        = order.deliveryInfo.name
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Telefonszám: 
                    
                    td 
                        = order.deliveryInfo.telNumber
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Cím: 
                    td
                        = order.deliveryInfo.zip
                        |  
                        = order.deliveryInfo.city
                        | , 
                        = order.deliveryInfo.street
                        |  
                        = order.deliveryInfo.streetNumber
                        |., 
                        = order.deliveryInfo.floor
        br
        if order.invoiceInfo
            table(style={'border-collapse': 'collapse', width: '100%'})
                tr(style={border: 'none', 'font-size': '14px', 'font-weight': 'bold'})
                    td(colspan=2) Számlázási adatok:   
                    
                tr(style={'border-top': '1px solid lightgrey'}) 
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Név: 
                    td
                        = order.invoiceInfo.name
                if order.invoiceInfo.tax
                    tr(style={'border-top': '1px solid lightgrey'})
                        td(style={'width': '100px'})
                            span(style={'font-size': '12px', 'font-weight': 'bold'}) Adószám: 
                        
                        td 
                            = order.invoiceInfo.tax
                tr(style={'border-top': '1px solid lightgrey'})
                    td(style={'width': '100px'})
                        span(style={'font-size': '12px', 'font-weight': 'bold'}) Cím: 
                    td
                        = order.invoiceInfo.zip
                        |  
                        = order.invoiceInfo.city
                        | ,
                        = order.invoiceInfo.street
                        |  
                        = order.invoiceInfo.streetNumber
                        |.,   
                        = order.invoiceInfo.floor
            br 
            | Köszönjük a vásárlást!
            br
            | Üdvözlettel!